.centralizar{
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.container-urna{
  margin-top: 45%;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 2000;
}

.foto-urna{
  right: 0;
  position: absolute;
  height: 150px;
  width: 105px;
  border: solid 1px black;
}

.cinzaEscuro{
  top: 50%;
  margin-top: -200px;
  width: 250px;
  height: 60px;
  right: 20px;
  position: absolute;
}

b{
  position: relative;
  top: 10px;
}

.preto{
  top: 13850% !important;
  border: solid 2px;
  top: 50%;
  margin-top: -135px;
  position: absolute;
  background-color: #444;
  height: 300px;
  width: 250px;
  left: 23%;
  right: auto;
}

.cinzaClaro{
  position: absolute;
  border: solid 1px;
  left: 50%;
  margin-left: -370px;
  top: 50%;
  margin-top: -190px;
  position: absolute;
  height: 350px;
  width: 500px;
  background-color: snow;
}

.cinzaEscuro{
  background-color: #b6b5b5;
}

.bntu{
  margin: 10px;
  background-color: black;
  color: snow;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.teclado2{
  font-size: 11px;
  position: absolute;
  bottom: 20px;
  left: 5px;
  color: black;
}

.branco{
  /*height: 40px;
  width: 75px;*/
  padding: 1%;
}

.laranja{
  /*height: 40px;
  width: 75px;*/
  padding: 1%;
  background-color: #E67401;
}

.verde{
  /*height: 50px;
  width: 75px;*/
  padding: 1%;
  background-color: green;
}


@media (max-width: 575.98px) {
  .preto{
    top: 13850% !important;
    border: solid 2px;
    top: 50%;
    margin-top: -135px;
    position: absolute;
    background-color: #444;
    height: 300px;
    width: 250px;
    left: 25%;
    right: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .preto{
    top: 13850% !important;
    border: solid 2px;
    top: 50%;
    margin-top: -135px;
    position: absolute;
    background-color: #444;
    height: 300px;
    width: 250px;
    left: 26%;
    right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .preto{
    top: 13850% !important;
    border: solid 2px;
    top: 50%;
    margin-top: -135px;
    position: absolute;
    background-color: #444;
    height: 300px;
    width: 250px;
    left: 26%;
    right: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .preto{
    top: 13850% !important;
    border: solid 2px;
    top: 50%;
    margin-top: -135px;
    position: absolute;
    background-color: #444;
    height: 300px;
    width: 250px;
    left: 15%;
    right: auto;
  }
}

@media (max-width: 1200px) {
  .branco{
    height: 40px;
    width: 75px;
    padding: 1%;
  }

  .laranja{
    height: 40px;
    width: 75px;
    padding: 1%;
    background-color: #E67401;
  }

  .verde{
    height: 50px;
    width: 75px;
    padding: 1%;
    background-color: green;
  }
}
